.targetSizes {
	display: flex;
	justify-content: left;
	align-items: center;
	border: 1px solid white;
	padding: 10px;
	margin-bottom: 10px;

	h2 {
		color: Linen;
		margin-right: 20px;
		width: 60px;
	}

	&__wraper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__ballWraper {
		font-size: 18px;
		line-height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		border-radius: 10px;
		color: white;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&:hover {
			box-shadow: 0px 0px 4px 2px #ffffff;
		}

		&_active {
			// background: grey;
			box-shadow: 0px 0px 4px 2px #ffffff;
		}
	}

	&__ball {
		border-radius: 50%;
	}

	// &__value {
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	cursor: pointer;
	// 	// padding: 10px;
	// 	border-radius: 50%;
	// 	color: white;

	// 	&:hover {
	// 		border: 1px solid lightgrey;
	// 		color: darkviolet;
	// 	}

	// 	&:not(:last-child) {
	// 		margin-right: 10px;
	// 	}

	// 	&_active {
	// 		background: grey;
	// 		border: 1px solid lightgrey;

	// 		&:hover {
	// 			background: grey;
	// 			color: white;
	// 		}
	// 	}
	// }
}