.greeting {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	user-select: none;

	&__title {
		color: PaleGoldenrod;
		font-size: 50px;
		margin: 0 auto 25px;
		font-family: Tahoma;
		opacity: 0;
		animation: visibility 1s linear 1 both;
	}

	&__wraper {
		display: flex;
		flex-direction: column;
	}

	&__start,
	&__finish {
		background: none;
		border: none;
		color: LightYellow;
		font-size: 36px;
		cursor: pointer;
		opacity: 0;
		animation: visibility 1s linear 1 both;

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		&:hover {
			transform: scale(1.05);
			color: #ffb340;
		}

		&:active {
			transform: scale(1);
			color: darkorange;
		}
	}
}

@keyframes visibility {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}