* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html {
	background: #4a4545;
}

.app {
	width: 100vw;
	height: 100vh;
	// background: #4a4545;
	background: linear-gradient(220deg, #7e7d6f, #36332f);
	// background: linear-gradient(220deg, #596587, #4d5027);
}