.game {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	background: #323232;

	&__timer {
		color: white;
		text-align: center;
		margin-bottom: 10px;
		font-size: 26px;
	}

	&__board {
		border: 1px solid white;
		box-shadow: inset 0px 0px 3px 1px lightblue;
		border-radius: 20px;
		// background: #596878;
		// background: #134b87;
		background: #95927c;
		position: relative;
	}

	&__circle {
		position: absolute;
		border-radius: 50%;
		// background: radial-gradient(#f9f798, #aba633);
		// background: radial-gradient(#80db83, #4c870d);
		// background: radial-gradient(#f1a091, #d13a20);
		// background: radial-gradient(#ffbd45, darkorange);
		// background: radial-gradient(#ca88db, #7a0a8f);
		// background: radial-gradient(#9e9ae9, blue);

		&:hover {
			cursor: pointer;
			// box-shadow: 0px 0px 4px 1px #ebe89a;
			// box-shadow: 0px 0px 4px 1px #fd6666;
			// box-shadow: 0px 0px 4px 1px tomato;
			// box-shadow: 0px 0px 4px 1px orange;
			// box-shadow: 0px 0px 4px 1px #e972ff;
			// box-shadow: 0px 0px 4px 1px blue;
		}
	}
}