.settings {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	border: 1px solid lightgray;
	border-radius: 15px;
	user-select: none;

	&__title {
		color: NavajoWhite;
		font-family: Tahoma;
		text-align: center;
	}

	&__back {
		display: block;
		border: none;
		background: none;
		color: white;
		font-size: 30px;
		// bottom: 15px;
		margin: 15px 10px 0 auto;
		cursor: pointer;

		&:hover {
			color: Bisque;
			transform: scale(1.01);
		}

		&:active {
			transform: scale(0.99);
		}
	}
}