.greeting {
	text-align: center;
	// border: 1px solid yellow;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	user-select: none;

	&__title {
		color: PaleGoldenrod;
		font-size: 50px;
		margin: 0 auto 25px;
		font-family: Tahoma;
	}

	&__start {
		background: none;
		border: none;
		color: LightYellow;
		font-size: 36px;
		cursor: pointer;
		font-family: 'Lucida Sans Unicode';

		&:hover {
			transform: scale(1.05);
			color: #ffb340;
		}

		&:active {
			transform: scale(1);
			color: darkorange;
		}
	}
}