.results {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__score {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 35px;
	}

	&__result {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #787878;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		p {
			color: #d7e9ff;
			width: 150px;
			font-size: 30px;
		}

		span {
			color: #c0d939;
			font-size: 30px;
			width: 90px;
			// text-align: left;
			text-align: center;
		}
	}

	&__wraper {
		display: flex;
		justify-content: space-around;
	}

	&__button {
		border: none;
		background: none;
		color: white;
		font-size: 28px;
		cursor: pointer;

		&:hover {
			color: Bisque;
			transform: scale(1.02);
		}

		&:active {
			transform: scale(0.99);
		}
	}
}